@media -sass-debug-info{filename{font-family:}line{font-family:\000033}}
html, body {
  font-family: "Open Sans", Tahoma, Verdana, Arial, Helvetica, sans-serif;
}

@media -sass-debug-info{filename{font-family:}line{font-family:\000038}}
a:link {
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:}line{font-family:\0000312}}
a:visited {
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:}line{font-family:\0000316}}
a:active {
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:}line{font-family:\0000320}}
a:hover {
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:}line{font-family:\0000325}}
h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", Tahoma, Verdana, Arial, Helvetica, sans-serif;
  margin-top: 0.75em;
  margin-bottom: 0.25em;
}

@media -sass-debug-info{filename{font-family:}line{font-family:\0000331}}
h1 {
  font-size: 2.5em;
}

@media -sass-debug-info{filename{font-family:}line{font-family:\0000335}}
h2 {
  font-size: 2em;
}

@media -sass-debug-info{filename{font-family:}line{font-family:\0000339}}
h3 {
  font-size: 1.875em;
}

@media -sass-debug-info{filename{font-family:}line{font-family:\0000343}}
h4 {
  font-size: 1.625em;
}

@media -sass-debug-info{filename{font-family:}line{font-family:\0000347}}
h5 {
  font-size: 1.5em;
}

@media -sass-debug-info{filename{font-family:}line{font-family:\0000351}}
h6 {
  font-size: 1.25em;
}

@media -sass-debug-info{filename{font-family:}line{font-family:\0000355}}
p, pre, table, ul, ol, dl {
  margin: 0.5em 0.5em 1em 0.5em;
}

@media -sass-debug-info{filename{font-family:}line{font-family:\0000359}}
ul, ol {
  margin-left: 2em;
}

@media -sass-debug-info{filename{font-family:}line{font-family:\0000363}}
ul {
  list-style-type: square;
}

@media -sass-debug-info{filename{font-family:}line{font-family:\0000367}}
.quiet {
  color: #cccccc;
  background: transparent;
}

@media -sass-debug-info{filename{font-family:}line{font-family:\0000372}}
.small {
  font-size: smaller;
}

@media -sass-debug-info{filename{font-family:}line{font-family:\0000381}}
.status {
  margin: 0.5em 0 1em 0;
}
@media -sass-debug-info{filename{font-family:}line{font-family:\0000384}}
.status > li {
  padding: 0.5em;
  margin: 0.25em;
}

@media -sass-debug-info{filename{font-family:}line{font-family:\00003107}}
.dev section {
  border: 1px dashed red;
}
@media -sass-debug-info{filename{font-family:}line{font-family:\00003111}}
.dev nav {
  border: 1px dashed yellow;
}
@media -sass-debug-info{filename{font-family:}line{font-family:\00003115}}
.dev hgroup {
  border: 1px dashed blue;
}
@media -sass-debug-info{filename{font-family:}line{font-family:\00003119}}
.dev a {
  border: 1px dashed gray;
}
@media -sass-debug-info{filename{font-family:}line{font-family:\00003123}}
.dev ul, .dev ol, .dev dl {
  border: 1px dashed green;
}
@media -sass-debug-info{filename{font-family:}line{font-family:\00003127}}
.dev pre, .dev table {
  border: 1px dashed silver;
}
@media -sass-debug-info{filename{font-family:}line{font-family:\00003131}}
.dev li {
  border: 1px dashed orange;
}

@media -sass-debug-info{filename{font-family:}line{font-family:\00003137}}
ul.status {
  list-style-type: none;
}

@media -sass-debug-info{filename{font-family:}line{font-family:\00003143}}
.notice {
  color: red;
}

@media -sass-debug-info{filename{font-family:}line{font-family:\00003147}}
.clear {
  clear: both;
}
