<!DOCTYPE html>{% capture language %}{% if page.language %}{{ page.language }}{% else %}{{ site.language }}{% endif %}{% endcapture %}{% capture html_properties %}lang="{{ language }}" prefix="cc: http://creativecommons.org/ns# og: http://ogp.me/ns# dct: http://purl.org/dc/terms/"{% endcapture %}
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" {{ html_properties }}> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" {{ html_properties }}> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" {{ html_properties }}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" {{ html_properties }}> <!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <!--
	<meta name="author" content="{{ site.author }}" />
	-->
	{% if page.private %}
	<meta name="robots" content="noindex"/>
	{% endif %}
	<meta name="author" content="{{ site.url }}/humans.txt"/>
	
    <meta name="viewport" content="width=device-width"/>
	
	<meta property="og:title" content="{{ page.title }}"/>
	<meta property="og:type" content="article"/>
	<meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
<!--
	{% if page.image %}
	<meta property="og:image" content="{{ site.cdn }}/{{ page.image }}"/>
	{% else %}
	<meta property="og:image" content="{{ site.cdn }}/media/img/crushed/ogimage.png"/>
	{% endif %}
-->	
	<meta property="og:site_name" content="{{ site.title }}"/>
	
	{% if page.description %}
	<meta property="og:description" content="{{ page.description | strip_newlines }}"/>
	<meta name="description" content="{{ page.description | strip_newlines }}"/>
	{% else %}
	<meta property="og:description" content="{{ page.content | truncatewords:15 | strip_html | strip_newlines | escape }}">
	{% endif %}
	
	
	{% if page.tags %}
	<meta name="keywords" content="{{ page.tags | array_to_string }}"/>
	{% endif %}
    <link rel="stylesheet" href="{{ site.cdn }}/media/gen/styles-{{ site.style_version }}.css" title="Default theme"/>
    <link rel="sitemap" type="application/xml" title="Sitemap" href="{{ site.url }}/sitemap.xml" />

{% comment %}
	{% if page.theme %}
	<link rel="stylesheet" href="{{ site.cdn }}/media/css/theme_{{ page.theme }}.css"/>
	{% endif %}
{% endcomment %}

	{% if page.styles %}
		{% for s in page.styles %}
		<link rel="stylesheet" href="{{ site.cdn }}/{{ s }}" title="Alternate CSS"/>
		{% endfor %}
	{% endif %}

	<script src="{{ site.cdn }}/media/common/js/modernizr.custom.80952.js"></script>
	<link rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"/>
    <link rel="shortcut icon" href="{{ site.cdn }}/favicon.ico" type="image/vnd.microsoft.icon"/>
	<!--
	<link rel="alternate" href="{{ site.url }}/atom.xml" type="application/atom+xml"/>
	-->
	
	<link rel="canonical" href="{{ site.url }}{{ page.url }}"/>
	
	<link rel="search" type="application/opensearchdescription+xml" title="Website" href="{{ site.url }}/opensearch.xml" />
	
	{% if page.alternate %}
		{% for alt in page.alternate %}
			{% if alt.language and page.url != alt.url %}
			<link rel="alternate" lang="{{ alt.language }}" href="{{ site.url }}{{ alt.url }}"/>
			{% endif %}
		{% endfor %}
	{% endif %}

    {% if page.scripts_head %}
        {% for s in page.scripts_head %}
        <script src="{{ s }}"></script>
        {% endfor %}
    {% endif %}
</head>
<body class="layout-{{ page.layout }}{% include tpl/category-class %}{% if page.theme %} theme-{{ page.theme }}{% endif %}">
<!--[if lt IE 7]><p class="chromeframe">Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
