{% include tpl/_header.html %}
    <div id="page">
        <header>
            <hgroup>
                <h1><a href="/">{{ site.title }}</a></h1>
{% unless page.nositedescription %}
                <h2 id="tagline">{{ site.description }}</h2>
{% endunless %}
            </hgroup>
        </header>
{% unless page.nomenu %}        
        <nav id="mainmenu">
{% comment %}            {% include tpl/menu.html %}{% endcomment %}
        </nav>
{% endunless %}
        <div id="main" role="main">
			{% unless page.notitle %}
			<hgroup id="page-header">
				<h1 class="page-title">{{ page.title }}</h1>
				{% if page.description %}
				<h2 class="page-description">{{ page.description }}</h2>
				{% endif %}
			</hgroup>
			{% endunless %}
{% comment %}			
			{% if page.facebook == 'both' or page.facebook == 'top' %}
			{% include ext/fblikebutton.html %}
			{% endif %}
{% endcomment %}
			{{ content }}
			{% comment %}
			{% include ext/share.html %}
			{% endcomment %}
        </div>
        
        <footer>
            {% include tpl/footer.html %}
        </footer>
    </div>
{% include tpl/_footer.html %}
